
<div>   
  <form  [formGroup]="userRegistration" (ngSubmit)="uploadSubmit()">
    <div class="form-content">
            
      <div > 
        <div >
              <h1 >Create an Account!</h1>
        </div>
      </div>
           
      <div>
        <div>
          <input type="text" formControlName="patientName" placeholder=" Name" />
        </div>
              
        <div >
          <input type="text"  formControlName="userName" placeholder="User Name" />
        </div>

        <div>
          <input type="email"  formControlName="patientEmail" placeholder="Email Address" />
        </div>
            
      </div>
              
      <div>
        <div >
          <input type="text"  formControlName="age" placeholder="age" />
        </div>

        <div >
          <input type="text"  formControlName="gender" placeholder="gender" />      
        </div>
      </div>

      <div >
        <div >
          <input type="text"  formControlName="telephone1" placeholder="Mobile Number" />
        </div>
                 
        <div >
          <input type="text"  formControlName="telephone2" placeholder="Land Number" />
        </div>
      </div>

      <div >
        <div >
          <input type="text"  formControlName="address" placeholder="Address" />             
        </div>
      </div>

            
      <div >
        <div >   
          <input type="password"  formControlName="password" placeholder="Password" />
                 <!-- <div >
                      <input type="password"  formControlName="confirmPassword" placeholder="Confirm Password" />
                  </div> -->
        </div>
      </div>
              
      <div >
        <div >
          <button type="submit">Register Account</button>
        </div>
      </div>

      
    </div>

  </form>

</div>
