
<mat-nav-list>
    <div class = "profile-card">
         <div class = "header">
            <h2> Shaleel Abhishek</h2>
        </div>
        <img src="assets/img/user.png" alt="">
    </div>


<mat-divider></mat-divider>

<a mat-list-item routerLinkActive = "list-item-active" routerLink = "/dashboard/main">Dashboard</a>
<a mat-list-item routerLinkActive = "list-item-active" routerLink = "/dashboard/addAppointment">Add Appointment</a>
<a mat-list-item routerLinkActive = "list-item-active" routerLink = "/dashboard/viewAppointments">My Appointments</a>
<a mat-list-item routerLinkActive = "list-item-active" routerLink = "/dashboard/findDoctor">Find Your Doctor</a>
<a mat-list-item routerLinkActive = "list-item-active" routerLink = "/dashboard/createDoctor">Create Doctor</a>


</mat-nav-list>
