<div>  
    <!-- [formGroup]="userRegistration" (ngSubmit)="uploadSubmit()"  -->
    <form  >
      <div class="form-content">
              
        <div > 
          <div >
                <h1 >Add Appointment!</h1>
          </div>
        </div>
        
        <div>
          <div>
            <select id="cars" name="cars">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="fiat">Fiat</option>
              <option value="audi">Audi</option>
            </select>
          </div>
        </div>



        <div>
          <div>
            <input type="text" formControlName="patientName" placeholder=" Name" />
          </div>
          
              
        </div>
           
        <form class="form-inline">
          <div class="form-group">
            <label for="category"> Select Category:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password">
          </div>
          <div class="checkbox">
          </div>
        </form>
       
  
       
                
        <div >
          <div >
            <button type="submit">Add Appointment</button>
          </div>
        </div>
  

       
        
      </div>
  
    </form>
  
  </div>
  
