<div>
    <!-- <form  class="form-inline" [formGroup] = "findDoctor" >
        <div class="form-content"> -->
          
    
            

    <form [formGroup] = "findDoctor">
             <div class="form-content">
                <div >
                    <h1 >Doctors List!</h1>
                </div>

                
                    <select formControlName="selectCategory" (change)="filterDoctorData($event.target.value)"> 
                        <option value="0">--All--</option>
                        <option *ngFor="let data of tableData" value={{data.categoryId}} >
                            {{data.category}} 
                        </option>
                    </select>
            
            <div>
                <table class="table table-bordered" id="dataTable" width="50%"
                cellspacing="0">
                
                
                <thead>
                    <tr>
                      <th>Doctor Id</th>
                      <th>Doctor Name</th>
                      <th>Specialty</th>
                      <th>Profile</th>
                    </tr>
                  </thead>
               
                  
                  <tbody>
                        <tr *ngFor = "let data of tableData1">
                
                             <td style="text-align: center;">
                                {{data.doctorId}}
                            </td>
                             <td style="text-align: center;">
                                {{data.doctorName}}
                            </td>
                            <td style="text-align: center;">
                                {{data.specialty.category}}
                            </td>
                            <td style="text-align: center;">
                                <button type="button" class="btn btn-primary btn-sm"
                                  (click)="RoutePage(data)">View</button>
                              </td>
                    
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        </form>
        </div>
    


